<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Réinitialiser le mot de passe</title>
  <link rel="stylesheet" href="css/admin.css">
</head>
<body class="body-profil">
  <div class="conteneur">
    <h2 class="titre-page">Réinitialiser le mot de passe</h2>

    <div class="carte" >
      <form action="" method="post" class="formulaire">
        <div class="champ">
          <label for="motdepasse">Nouveau mot de passe :</label>
          <input type="password" id="motdepasse" name="motdepasse" placeholder="Entrez votre nouveau mot de passe" required>
        </div>

        <div class="champ">
          <label for="cmotdepasse">Confirmer le mot de passe :</label>
          <input type="password" id="cmotdepasse" name="cmotdepasse" placeholder="Confirmez votre mot de passe" required>
        </div>

        <div class="actions">
          <button type="submit" class="btn-principal">Confirmer</button>
          <button type="reset" class="btn-simple">Annuler</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>

